body {
    background-image: url("gradient.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.clock-container {
    backdrop-filter: blur(150px);
    width: 100vh;
    text-align: center;
    background-color: hsla(0, 0%, 100%, 0.);
    padding: 10px 0;
}

.clock {
    color: white;
    font-size: 6rem;
    font-weight: bold;
    font-family: monospace;
    text-shadow: 3px 3px 5px hsla(0, 0%, 0%, 0.75);
}
